@model JoinMeNow.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}

<style>

</style>

<div class="container">
    <div class="register-page centered">
        <div class="card-register">
            <div class="card-register-header">
                <h1>Registration Join Me Now</h1>
                <p>Fill out the form carefully for registration</p>
            </div>

            <div class="card-register-body">
                <form id="registerForm">
                    <div class="card-register-sub-body">
                        <label>Full Name</label>
                        <input type="text" asp-for="FullName" class="register-input" placeholder="Full Name" onchange="validateFullName(this)" />
                        <span asp-validation-for="FullName" class="text-danger" id="fullNameError"></span>
                    </div>

                    <div class="card-register-sub-body">
                        <a>Username</a>
                        <input type="text" name="Username" class="register-input" placeholder="Username" asp-for="Username" onchange="validateUsername(this)" />
                        <span asp-validation-for="Username" class="text-danger" id="usernameError"></span>
                    </div>

                    <div class="card-register-sub-body">
                        <a>Email</a>
                        <input type="email" name="Email" class="register-input" placeholder="Email" asp-for="Email" onchange="validateEmail(this)" />
                        <span asp-validation-for="Email" class="text-danger" id="emailError"></span>
                    </div>

                    <div class="card-register-sub-body">
                        <a>Password</a>
                        <input type="password" name="Password" class="register-input" placeholder="Password" asp-for="Password" onchange="validatePassword(this)" />
                        <span asp-validation-for="Password" class="text-danger" id="passwordError"></span>
                    </div>
                    <div class="card-register-footer">
                        <div class="mt-20">
                            <button class="btn-register-cancel" onclick="window.location.href='@Url.Action("Index", "Dashboard")'">cancel</button>
                        </div>

                        <div class="mt-20">
                            <button type="submit" class="btn-register">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="notiregis" class="notification" style="display: none;"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.15/signalr.min.js"></script>
<script src="~/js/register.js"></script>