@{
    ViewData["Title"] = "Dashboard";
}

@await Html.PartialAsync("Sidebar")
<section class="home-section">
    <div class="dashboard">
        <h1 class="header"><img src="~/img/dashboard.png"> JoinMeNow</h1>
        <div class="nav-dash">
            <div class="nav-item" id="navItem">
            </div>
        </div>
        <select id="filter" class="filter-btn">
            <option value="all">All</option>
            <option value="Conference">Conference</option>
            <option value="Workshop">Workshop</option>
            <option value="Webinar">Webinar</option>
            <option value="Networking">Networking Event</option>
            <option value="Seminar">Seminar</option>
        </select>
        <div class="content-dashboard" id="contentDashboard">
        </div>
    </div>
</section>

<script src="~/js/dashboard.js"></script>