################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JoinMeNow.csproj
obj/
bin/Debug/
.vs/

