@{
    ViewData["Title"] = "Login Page";
}

<section class="">
    <div class="container">
        <div class="login-page centered">
            <div class="card-login">
                <div class="card-login-header">
                    <h1>Welcome back!</h1>
                    <p>please enter your details</p>
                </div>
                <div class="card-login-body">
                    <form asp-action="Login" method="post">
                        <div>
                            <input type="email" name="email" class="login-input" placeholder="Email" required>
                            <input type="password" name="password" class="login-input" placeholder="Password" required>
                        </div>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="login-alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }

                        <div class="card-login-footer">
                            <div class="mt-20">
                                <button class="btn-login-1" type="submit">Login</button>
                            </div>
                            <div class="mt-20">
                                <p>Don't have an account?<a style="text-decoration: none;" asp-controller="Register" asp-action="Index"> Sign Up</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>