@{
    ViewData["Title"] = "Login Page";
}
<div class="container">
    <div class="login-page centered">
        <div class="card-login">
            <div class="card-login-header">
                <h1>Welcome back!</h1>
                <p>please enter your details</p>
            </div>
            <div class="card-login-body">
                <form action="" method="post">
                    <div>
                        <input type="email" name="" class="login-input" placeholder="Email">
                        <input type="password" name="" class="login-input" placeholder="Password">
                    </div>
                    <div class="card-login-sub-body">
                        <div>
                            <input type="checkbox"> Remember for 30 days
                        </div>
                        <div>
                            <a href="#" style="text-decoration: none;">forgot password ?</a>
                        </div>
                    </div>
                    <div class="card-login-footer">
                        <div class="mt-20">
                            <button class="btn-login-1">Login</button>
                        </div>
                        <div class="mt-10">
                            <button class="btn-login-2"><i class="fab fa-google"></i> Login with Google</button>
                        </div>
                        <div class="mt-20">
                            <p>Don't have an account? <a style="text-decoration: none;">Sign Up</a></p>
                        </div>
                    </div>  
                </form>
                </div>
            </div>
        </div>
    </div>
</div>