@{
    ViewData["Title"] = "Home Page";
    var userEmail = ViewBag.UserEmail as string;
    var username = ViewBag.Username as string;
}
@await Html.PartialAsync("Sidebar")

<section class="home-section">
    <div class="text-center">
        <h1>Welcome to Joine Me Now</h1>

        @if (userEmail != null)
        {
            <h2>Hello, @username!</h2>
            <form asp-controller="Login" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        }
        else
        {
            <h2>Hello, guest!</h2>
            <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Go to login</a>
        }
    </div>
</section>