@{
    ViewData["Title"] = "Meet Up";
}

@await Html.PartialAsync("Sidebar")
<section class="home-section">
    <div class="text-center">
        <h1>Welcome to Meet Up Page</h1>
    </div>
</section>
