@{
    ViewData["Title"] = "Dashboard";

    var userEmail = ViewBag.UserEmail as string;

    var username = ViewBag.Username as string;

    var userID = ViewBag.UserID as string;
}
@await Html.PartialAsync("Headderbar")
@await Html.PartialAsync("Sidebar")

<section class="home-section">
    <div class="dashboard">
@*         <h1 class="header"><img src="~/img/dashboard.png"> JoinMeNow</h1> *@
        <div class="nav-dash">
            <div class="nav-item" id="navItem">
            </div>
        </div>
        <select id="filter" class="filter-btn">
            <option value="all">All</option>
            <option value="1">Conference</option>
            <option value="2">Workshop</option>
            <option value="3">Webinar</option>
            <option value="4">Networking Event</option>
            <option value="5">Seminar</option>
        </select>
        <div class="content-dashboard" id="contentDashboard">
        </div>
    </div>

    @if (userEmail != null)
    {
        <a asp-controller="Post" asp-action="Index">
            <div class="create-post br-icon"></div>
        </a>
    }
    else
    {
        <a>
            <div class="create-post br-icon"></div>
        </a>
    }

    <div id="confirmationDialog" class="dialog-overlay">
        <div class="dialog-box">
            <p>Are you sure you want to cancel your join?</p>
            <div class="dialog-buttons">
                <button id="confirmCancel" class="dialog-btn-confirm">Yes</button>
                <button id="cancelAction" class="dialog-btn-cancel">No</button>
            </div>
        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.15/signalr.min.js"></script>
<script src="~/js/dashboard.js"></script>