@{
    ViewData["Title"] = "Dashboard";







    var userEmail = ViewBag.UserEmail as string;







    var username = ViewBag.Username as string;







    var userID = ViewBag.UserID as string;
}
@await Html.PartialAsync("Headderbar")
@await Html.PartialAsync("Sidebar")

<section class="home-section">
    <div class="dashboard">
        <div class="nav-dash">
            <div class="nav-item" id="navItem">
            </div>
        </div>
        <div class="selectDate">
            <select id="filter" class="filter-btn">
                <option value="all">All</option>
                <option value="1">Sport</option>
                <option value="2">E-Sport</option>
                <option value="3">Hang-Out</option>
                <option value="4">Education</option>
                <option value="6">etc.</option>
            </select>
            <div class="calender">
                <i class='bx bx-calendar' id="calendarIcon" style="cursor: pointer;"></i>
                <div id="calendarContainer" class="">
                </div>
            </div>
        </div>
        <div class="content-dashboard" id="contentDashboard">
        </div>
    </div>

    @if (userEmail != null)



    {
        <a asp-controller="Post" asp-action="Index">
            <div class="create-post br-icon"></div>
        </a>
    }



    else



    {
        <a id="createPostBtn">
            <div class="create-post br-icon"></div>
        </a>
    }

</section>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="~/js/dashboard.js"></script>