@{
    ViewData["Title"] = "Dashboard";

    var userEmail = ViewBag.UserEmail as string;

    var username = ViewBag.Username as string;

    var userID = ViewBag.UserID as string;
}
@await Html.PartialAsync("Headderbar")
@await Html.PartialAsync("Sidebar")

<section class="home-section">
    <div class="dashboard">
@*         <h1 class="header"><img src="~/img/dashboard.png"> JoinMeNow</h1> *@
        <div class="nav-dash">
            <div class="nav-item" id="navItem">
            </div>
        </div>
        <select id="filter" class="filter-btn">
            <option value="all">All</option>
            <option value="1">Conference</option>
            <option value="2">Workshop</option>
            <option value="3">Webinar</option>
            <option value="4">Networking Event</option>
            <option value="5">Seminar</option>
        </select>
        <div class="content-dashboard" id="contentDashboard">
        </div>
    </div>

    @if (userEmail != null)
    {
        <a asp-controller="Post" asp-action="Index">
            <div class="create-post br-icon"></div>
        </a>
    }
    else
    {
        <a id="createPostBtn">
            <div class="create-post br-icon"></div>
        </a>
    }

</section>



<script src="~/js/dashboard.js"></script>